body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:32px;
  top:118px;
  width:320px;
  height:60px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:144px;
  top:130px;
  width:95px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:38px;
  top:119px;
  width:308px;
  height:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u12 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:32px;
  top:118px;
  width:320px;
  height:60px;
  color:#CCCCCC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:144px;
  top:130px;
  width:95px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:38px;
  top:119px;
  width:308px;
  height:13px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:38px;
  top:146px;
  width:22px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:42px;
  top:649px;
  width:30px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:310px;
  top:647px;
  width:30px;
  height:30px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#2087FC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:133px;
  top:647px;
  width:30px;
  height:30px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#2087FC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:225px;
  top:647px;
  width:24px;
  height:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_ann {
  position:absolute;
  left:242px;
  top:643px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:42px;
  top:190px;
  width:298px;
  height:400px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:400px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:286px;
  top:145px;
  width:22px;
  height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:318px;
  top:145px;
  width:22px;
  height:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:105px;
  top:144px;
  width:170px;
  height:25px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
