body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:118px;
  width:320px;
  height:60px;
  color:#CCCCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:144px;
  top:130px;
  width:95px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:38px;
  top:119px;
  width:308px;
  height:13px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:143px;
  width:212px;
  height:25px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:38px;
  top:145px;
  width:22px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:282px;
  top:147px;
  width:58px;
  height:18px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:41px;
  top:206px;
  width:299px;
  height:90px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:90px;
}
#u16 {
  position:absolute;
  left:2px;
  top:37px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:41px;
  top:231px;
  width:299px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:299px;
  height:1px;
}
#u18 {
  position:absolute;
  left:81px;
  top:216px;
  width:67px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:81px;
  top:244px;
  width:63px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:51px;
  top:212px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:51px;
  top:241px;
  width:20px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:41px;
  top:310px;
  width:299px;
  height:140px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:140px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:41px;
  top:261px;
  width:299px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:299px;
  height:1px;
}
#u29 {
  position:absolute;
  left:81px;
  top:272px;
  width:116px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:51px;
  top:271px;
  width:20px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:32px;
  top:475px;
  width:320px;
  height:216px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u34 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
